.shadow {
	width: 100%;
	height: 168px;
	position: relative;
	margin-top: -110px;
	background: transparent url(https://orig00.deviantart.net/b609/f/2018/007/a/c/shadow_by_moschen_design-dbzb1j6.png) no-repeat bottom center;
	background-size: 100% 100%; /* stretches it */
	z-index: -1;
	display: none;
}

.sb-description h3 {
	font-size: 16px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	color: #fff;
}

.sb-description h3 a {
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

.nav-arrows {
	display: none;
}

.nav-arrows a {
	width: 42px;
	height: 42px;
	background: #cbbfae url(https://orig00.deviantart.net/3688/f/2018/007/9/b/nav_by_moschen_design-dbzb1iy.png) no-repeat top left;
	position: absolute;
	top: 45%;
	left: 2px;
	text-indent: -9000px;
	cursor: pointer;
	margin-top: -21px;
	opacity: 0.9;
	border-radius: 50%;
	box-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

.nav-arrows a:first-child{
	left: -180px;
	right: -90px;
	background-position: top right;
}

.nav-arrows a:hover {
	opacity: 1;
}


